In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
mainData=pd.read_csv('ClassifiactionProb.csv')
mainData2=pd.read_csv('RegressionPre.csv')

In [3]:
mainData2.head()

,CustomerID,Recency,Frequency,Price_Sum,Price_Mean,Spend_90,Spend_90_flag,Price_Pre,Price_Pre2,AVSP,AVSP2
0,12346.0,-234.0,2.0,0.00,0.000000,0.00,0.0,3.418267,10.048867,-3.418267,-10.048867
1,12347.0,-38.0,124.0,2790.86,22.506935,1519.14,1.0,1032.253867,1450.320800,486.886133,68.819200
2,12348.0,-157.0,28.0,1487.24,53.115714,310.00,1.0,142.033133,232.403867,167.966867,77.596133
3,12350.0,-219.0,17.0,334.40,19.670588,0.00,0.0,0.246000,3.874667,-0.246000,-3.874667
4,12352.0,-171.0,48.0,601.18,12.524583,944.23,1.0,50.556600,207.263400,893.673400,736.966600

In [4]:
mainData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3412 entries, 0 to 3411
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CustomerID     3412 non-null   float64
 1   Recency        3412 non-null   float64
 2   Frequency      3412 non-null   int64
 3   Price_Sum      3412 non-null   float64
 4   Price_Mean     3412 non-null   float64
 5   Spend_90       3412 non-null   float64
 6   Spend_90_flag  3412 non-null   float64
 7   Predict_Prob   3412 non-null   float64
dtypes: float64(7), int64(1)
memory usage: 213.4 KB

        Price_Pre   Price_Pre2        AVSP       AVSP2
0        3.418267    10.048867   -3.418267  -10.048867
1     1032.253867  1450.320800  486.886133   68.819200
2      142.033133   232.403867  167.966867   77.596133
3        0.246000     3.874667   -0.246000   -3.874667
4       50.556600   207.263400  893.673400  736.966600
...           ...          ...         ...         ...
3407     1.281200     2.195800   -1.281200   -2.195800
3408     2.164200     3.364533   -2.164200   -3.364533
3409     3.496800    12.294533   74.343200   65.545467
3410   671.165633   940.034333  303.044367   34.175667
3411   109.679200   365.156200  962.320800  706.843800

[3412 rows x 4 columns]

In [18]:
pd.concat([mainData,mainData2[['Price_Pre','Price_Pre2','AVSP','AVSP2']]],axis=1).to_csv('full predicted.csv',index=False)